<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.Manifest.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="ledbanner.ledboard.ledscrollingtext.AppUtils.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LEDScrollerTextLEDBanner"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="ledbanner.ledboard.ledscrollingtext.Theme.BannerViewHistoryActivity"
            android:exported="false" />
        <activity
            android:name="ledbanner.ledboard.ledscrollingtext.Theme.HappyAnniversaryActivity"
            android:exported="false" />
        <activity
            android:name="ledbanner.ledboard.ledscrollingtext.Theme.LoveActivity"
            android:exported="false" />
        <activity
            android:name="ledbanner.ledboard.ledscrollingtext.Theme.NewYearActivity"
            android:exported="false" />
        <activity
            android:name="ledbanner.ledboard.ledscrollingtext.Theme.ChristmasActivity"
            android:exported="false" />
        <activity
            android:name="ledbanner.ledboard.ledscrollingtext.Activity.ViewHistoryActivity"
            android:exported="false" />
        <activity
            android:name="ledbanner.ledboard.ledscrollingtext.Theme.Led_ThemeItemActivity"
            android:exported="false" />
        <activity
            android:name="ledbanner.ledboard.ledscrollingtext.Activity.Led_FullScreenActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreen" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="ledbanner.ledboard.ledscrollingtext.Activity.Led_MakeVideoActrivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreen" />
        <activity
            android:name="ledbanner.ledboard.ledscrollingtext.Activity.Led_EditActivity"
            android:exported="false" />
        <activity
            android:name="ledbanner.ledboard.ledscrollingtext.Theme.Led_ThemeActivity"
            android:exported="false" />
        <activity
            android:name="ledbanner.ledboard.ledscrollingtext.Activity.PrivacyActivity"
            android:exported="false"
            android:theme="@style/Theme.LEDScrollerTextLEDBanner" />
        <activity
            android:name="ledbanner.ledboard.ledscrollingtext.Activity.Led_settingActivity"
            android:exported="false"
            android:theme="@style/Theme.LEDScrollerTextLEDBanner" />
        <activity
            android:name="ledbanner.ledboard.ledscrollingtext.Activity.Led_LanguageActivity"
            android:exported="false"
            android:theme="@style/Theme.LEDScrollerTextLEDBanner" />
        <activity
            android:name="ledbanner.ledboard.ledscrollingtext.Activity.Led_HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.LEDScrollerTextLEDBanner" />
        <activity
            android:name="ledbanner.ledboard.ledscrollingtext.Activity.Led_IntroductionActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity android:name="ledbanner.ledboard.ledscrollingtext.Activity.Led_PreviewVideoActivity" />
        <activity
            android:name="ledbanner.ledboard.ledscrollingtext.Activity.Led_SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name="com.hbisoft.hbrecorder.ScreenRecordService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection" />

        <receiver android:name="com.hbisoft.hbrecorder.NotificationReceiver" />


        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>